* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*=================PAGE1==============*/
/*=================BUNNER==================*/
#bunner {
	width: 100%;
	height: 500px;
	background: url('../_IMAGES/page-1/01-slider-image.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.carousel-caption {
    position: relative;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

/*Slider*/
.slider {
	width: 50%;
	height: 500px;
	float: right;
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 80px;
	background: -moz-linear-gradient(left, rgba(249,252,247,0.9) 36%, rgba(248,251,245,0.9) 51%, rgba(247,250,244,0.8) 64%, rgba(246,250,242,0) 78%, rgba(245,249,240,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(249,252,247,0.9) 36%,rgba(248,251,245,0.9) 51%,rgba(247,250,244,0.8) 64%,rgba(246,250,242,0) 78%,rgba(245,249,240,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(249,252,247,0.9) 36%,rgba(248,251,245,0.9) 51%,rgba(247,250,244,0.8) 64%,rgba(246,250,242,0) 78%,rgba(245,249,240,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f9fcf7', endColorstr='#00f5f9f0',GradientType=1 ); /* IE6-9 */
	overflow: hidden;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    position: absolute;
    bottom: 50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 18px;
	height: 18px;
    margin: 0 5px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #e31717;
    border: 1px solid #e31717;
    border-radius: 50%;
    background: transparent;
}

.slick-dots li.slick-active button::before {
    opacity: 1;
    color: #e31717;
}
.slick-dots li button::before {
    font-family: 'slick';
    font-size: 60px;
    line-height: 16px;
    position: absolute;
    top: -1px;
	left: -2px;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slider .item {
	width: 100%;
	height: 600px;
	text-align: left;
}
.item h1 {
	width: 550px;
	font-size: 4em;
	line-height: .9em;
	margin-bottom: 40px;
}
.item h1 span {
	color: #e31717;
}
.item p {
	width: 335px;
	margin-bottom: 30px
}
.slider .item a {
	position: relative;
    top: 6px;
    text-transform: uppercase;
    background: #e31717;
    padding: 10px 65px;
    color: white;
    max-width: 200px;
    margin: 0px auto;
    margin-top: 20px;
}
.indicators {
	width: 30px;
	height: 30px;
	border: 1px solid #e31717;
	border-radius: 50%;
}
.indicators:hover, .indicators:focus, .indicators:active {
	background: #e31717;
	border: none;
}


/*=================DESCRIPTION=============*/
#description {
	height: 400px;
	border-top: 1px solid #e31717;
	border-bottom: 1px solid #e31717;
}
.wrapDesc {
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	width: 76%;
	height: 400px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
.circleImg {
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	flex: 1;
	justify-content: center;
	position: relative;
	top: 20px;
}
.circleImg img {
} 
.textAtImg {
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	flex: 1;
	flex-direction: column;
}
.textAtImg h3, {
	color: black;
	font-weight: bold;
	margin-top: 0;
}
.textAtImg h3 span {
	color: #e31717;
	font-weight: bold;
}

.underTtl {
	margin-bottom: 20px;
	font-weight: 600;
}

.uLink {
	color: #e31717;
	text-decoration: underline;
	display: inline-table;
}

.uLink:hover, .uLink:focus {
	color: #e31717;
	text-decoration: underline;
}

/*=================TWO PARTS=============*/

#twoParts {
	width: 100%;
	height: 350px;
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	background: #e3e3e3;
	overflow: hidden;
}

.textPart {
	position: relative;
	width: 50%;
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 10%;
}
.textPart h3 {
	margin-top: 0;
}
.textPart h3 span {
	color: #e31717;
	text-transform: uppercase;
}

.textPart p {
	width: 77%;
}

.partBgd {
	width: 50%;
	height: 350px;
	background: url('../_IMAGES/page-1/03-image.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

/*CONTACT*/
#contact {
	width: 100%;
	height: 500px;
	background: url('../_IMAGES/page-1/04-image.jpg');
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

.info {
	width: 100%;
	height: auto;
	justify-content: center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.info h2 {
	font-size: 62px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
.info h5 {
	line-height: 1.8em;
	font-weight: bold;
	margin-bottom: 0;
}

.info h3 {
	font-weight: bold;
	margin: 0 auto;
}
.info a {
	position: relative;
    top: 6px;
	text-transform: uppercase;
	background: white;
	padding: 10px 65px;
	color: black;
	max-width: 200px;
	margin: 0px auto;
	margin-top: 20px;
}

.cntImg {
	position: relative;
	top: -56px;
	width: 101px;
	height: 117px;
	background: url("../_GRAPHICS/sprite/HireTest-sprite.png") -200px -200px;
	margin: 0 auto;
}

@media all and (min-width: 960px) and (max-width: 1287px) {
#bunner {
    width: 100%;
    height: auto;
    background: url('../_IMAGES/page-1/01-slider-image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.slider {
    width: 80%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(255,255,255,0.9);
   }
.item h1 {
    width: auto;
    font-size: 4em;
    line-height: .9em;
    margin-bottom: 40px;
}
.slider .item p {
    width: auto;
    margin-bottom: 30px;
}
}

@media all and (max-width: 960px) {
#bunner {
    width: 100%;
    height: auto;
    background: url('../_IMAGES/page-1/01-slider-image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.slider {
    width: 80%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(255,255,255,0.9);
   }
 .item h1 {
    width: 80%;
    font-size: 4em;
    line-height: .9em;
    margin-bottom: 40px;
}
 .slider .item p {
    width: 80%;
    margin-bottom: 30px;
}
}
@media all and(min-width: 768px) and (max-width: 960px) {
	#bunner {
    width: 100%;
    height: auto;
    background: url('../_IMAGES/page-1/01-slider-image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.slider {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: : 15px;
    background: rgba(255,255,255,0.5);
   }
 .item h1 {
    width: 100%;
    font-size: 4em;
    line-height: .9em;
    margin-bottom: 40px;
}
 .slider .item p {
    width: 100%;
    margin-bottom: 30px;
}
}

@media all and (max-width: 768px) {
/*Default*/
h1 {
	font-size: 50px;
	font-weight: 700;
	font-family: 'Titillium Web', sans-serif;
}

h2{
	font-size: 35px;
	font-weight: 700;
	font-family: 'Titillium Web', sans-serif;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	font-family: 'Titillium Web', sans-serif;
}
h4 {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}
h5 {
	font-size: .9em;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}


p {
	color: gray;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
}
ul {
	margin-bottom: 0px;
}
ul li {
	list-style: none;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
}

a {
	font-family: 'PT Sans', sans-serif;
}

a:hover, a:focus {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}	
/*SLIDER*/
.slider {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 15px;
   background: rgba(255,255,255,0.9);
}
#bunner {
    width: 100%;
    height: auto;
    background: url('../_IMAGES/page-1/01-slider-image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.slider .item {
	height: 400px;
}
.item h1 {
    width: 100%;
    font-size: 4em;
    line-height: .9em;
    margin-bottom: 40px;
    text-align: center;
}
.slider .item p {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.slider .item a {
    position: relative;
    top: 6px;
    text-transform: uppercase;
    background: #e31717;
    padding: 10px 65px;
    color: white;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    left: 0px;
    display: flex;
	justify-content: center;
}
.slick-dots {
    position: absolute;
    bottom: 30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    left: 0;
    text-align: center;
}
/*Description*/
#description {
	width: 100%;
	height: auto;
    border-bottom: 1px solid #e31717;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
    padding: 40px 15px;
    
}
.wrapDesc {
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circleImg {
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    height: auto;
    width: 100%;
}
.circleImg img {
	margin-top: 0;
}
.textAtImg {
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}
.textAtImg a {
    color: #e31717;
    text-decoration: underline;
   	margin: 0 auto;
}
/*2 parts*/
#twoParts {
    width: 100%;
    height: auto;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    background: #e3e3e3;
    overflow: hidden;
}
.textPart {
    position: relative;
    width: 50%;
    height: auto;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    left: 1%;
}
.textPart h3 {
	margin-top: 0;
}
.partBgd {
    width: 50%;
    height: auto;
    background: url('../_IMAGES/page-1/03-image.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
/*Contact*/
#contact {
    width: 100%;
    height: auto;
    background: url('../_IMAGES/page-1/04-image.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.info {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
    padding: 40px 0px;
}
.cntImg {
    position: relative;
    width: 60px;
    height: 80px;
    background: url("../_GRAPHICS/sprite/HireTest-sprite.png") -200px -390px;
    padding: 0px auto;
    top: -25px;
}
.info h2 {
	font-size: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
}

@media all and (max-width: 420px) {
/*Slider*/
.slider .item {
    width: 100%;
    height: 450px;
    text-align: left;
}
.item h1 {
    width: 100%;
    font-size: 4em;
    line-height: .9em;
    margin-bottom: 40px;
    text-align: center;
}
.slider .item p {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.slider .item a {
    position: relative;
    top: 6px;
    text-transform: uppercase;
    background: #e31717;
    padding: 10px 65px;
    color: white;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    left: 0px;
    display: flex;
	justify-content: center;
}
.slick-dots {
    position: absolute;
    bottom: 30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    left: 0;
    text-align: center;
}
	#contact {
    width: 100%;
    height: auto;
    background: url('../_IMAGES/page-1/04-image.jpg');
    background-position: center -22px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
}


/*================PAGE2===============*/
#titleOfPage2 {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
#titleOfPage2 .ttl {
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	width: 68%;
}

.ttl h2 {
	margin-top: 0;
	color: black;
	font-weight: bold;
}
.ttl span {
	text-transform: uppercase;
}
.ttl .fstPrg {
	color: #c3c3c3;
	margin-bottom: 0;
}
.ttl p:nth-of-type(2) {
	margin-bottom: 0;
	color: black;
	width: 77%;
	margin-left: 113px;
}

/*=============BGD Section=============*/
#BgdOfCity {
	width: 100%;
	height: 200px;
	background: url('../_IMAGES/page-2/01-header-image.jpg');
	-webkit-background-size: 100% 200px;
	-moz-background-size: 100% 200px;
	-o-background-size: 100% 200px;
	-ms-background-size: 100% 200px;
	background-size: 100% 200px;
	margin-bottom: 20px;
}

/*==========Choice Section=========*/
#choice-section {
	width: 100%;
	height: auto;
	border-top: 1px solid #c3c3c3;
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: start;
}
.primary-col-one, .primary-col-two {
	width: 50%;
}
.primary-col-one {
    justify-content: end;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
}
.primary-col-one h3 {
    text-align: center;
    width: 90%;
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
}
.col-1, .col-two {
	margin-right: 12%;
}
.primary-col-two {
    margin: 0 auto;
    width: 50%;
    padding: 0 40px;
    padding-bottom: 20px;
    border-left: 1px solid #c3c3c3;
}

.col-one {
    display: -webkit-box;
    display: -moz-box;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}
.col-1 label, .col-two label, .col-three label {
	margin-bottom: 10px;
}
.col-1 label img:nth-of-type(2), .col-two label img:nth-of-type(2), .col-three label img:nth-of-type(2) {
	margin-left: 5px;
}

.col-22 {
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    justify-content: start;
    align-items: baseline;
    margin: 0 auto;
}
.door1 {
    margin-right: 10%;
}
.col-22 .door1 h3 {
	margin-bottom: 0;
}
.col-22 .door1 img {
	display: block;
	margin: 0px auto;
}
.col-22 .door1 .activePar {
	color: black;
}
.col-22 .door1 p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px; 
	font-size: 13px;
	color: #c3c3c3;
}

.pattern {
    width: 100%;
    display: block;
    background: url('../_GRAPHICS/icons/pattern.png');
    background-repeat: repeat-x;
    height: 60px;
    bottom: 0;

}


/*Doors 1st row*/
.dummys-fst-row {
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.dummy p {
	text-align: center;
}

/*==========MEDIA QUERY FOR PAGE2==========*/
@media all and (max-width: 960px) {
.dummys-fst-row {
    display: -webkit-box;
    display: -moz-box;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}
}

@media all and (max-width: 768px) {
#choice-section {
    width: 100%;
    height: auto;
    border-top: 1px solid #c3c3c3;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}
.primary-col-one {
    justify-content: end;
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    flex-direction: column;
}
.primary-col-one, .primary-col-two {
    width: 100%;
    margin: 0 auto;
}
.col-one {
    display: -webkit-box;
    display: -moz-box;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 100%;
}
.primary-col-one h3 {
    text-align: center;
    width: 100%;
  }
  .dummys-fst-row {
    display: -webkit-box;
    display: -moz-box;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}
#titleOfPage2 {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 20px 15px;
}
#titleOfPage2 .ttl {
    display: -webkit-box;
    display: -moz-box;
    display: -o-flexbox;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ttl p:nth-of-type(2) {
    margin-bottom: 0;
    margin-left: 0;
    color: black;
    width: 100%;
}

.col-1, .col-two {
    margin-right: 6%;
}
.primaryCol {
	display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0;
	border-left: 0px solid #c3c3c3;
	width: 100%;
}
.primary-col-two h3 {
	text-align: center;
}

.col-22 {
    display: -webkit-box;
	display: -moz-box;
	display: -o-flexbox;
	display: -ms-flexbox;
	display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0 auto;
    width: 100%;
}
.door1 {
	margin-right: 5%;
}

.door1:last-child {
	margin-right: 0;
}
}

/*====================PAGE3=================*/
/*Google Map*/
.titleOfPage3 {
	position: relative;
	z-index: 3;
}
#myMap {
	width: 100%;
    height: 400px;
    position: relative;
}

#map {
	height: 100%;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.92) 0%, rgba(255,255,255,0.92) 15%, rgba(255,255,255,0.92) 32%, rgba(255,255,255,0.84) 34%, rgba(131,188,233,0) 55%, rgba(125,185,232,0) 56%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.92) 0%,rgba(255,255,255,0.92) 15%,rgba(255,255,255,0.92) 32%,rgba(255,255,255,0.84) 34%,rgba(131,188,233,0) 55%,rgba(125,185,232,0) 56%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0.92) 0%,rgba(255,255,255,0.92) 15%,rgba(255,255,255,0.92) 32%,rgba(255,255,255,0.84) 34%,rgba(131,188,233,0) 55%,rgba(125,185,232,0) 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

/*Filters*/
#filters {
	display: flex;
	justify-content: start;
	width: 80%;
	margin-bottom: 80px;
	padding: 0;
}
#filters .nationals a:last-child {
	margin-left: 10px;
}
#filters .actions a {
	margin-right: 10px;
}
#filters .actions a:last-child {
	margin-right: 10px;
}

.nationals {
	flex: 1;
}
.actions {
	flex: 2;
}
#filters a {
	background: #d5d2d2;
	color: white;
	padding: 10px 30px;
	font-weight: bold;
	cursor: pointer;
}
#filters a:active {
	background: #e31717;
	color: white;
	padding: 10px 30px;
	font-weight: bold;
	cursor: pointer;
}
/*TABLE*/
#table {
	margin-top: 40px;
	margin-bottom: 80px; 
}
table {
    font-family: 'Titillium Web', sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
} 
.table-text {
	text-align: right;
}
.bgd-tRow {
	background: #e3e3e3;
}
.alignRight {
	text-align: right;
}
tbody {
	padding-top: 30px;
}
.firstTr td {
	padding-top: 30px;
}
th {
 	 border-bottom: 1px solid #c3c3c3;
    border-width: 80%;
    padding: 8px;
}

td {
    border-bottom: 1px solid #e3e3e3;
    border-width: 80%;
    padding: 8px;
}

.item {
	width: 80%;
}

/*Submitted*/
#submitted {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#submitted h3 {
	margin-top: 0;
	color: #e31717;
}
#submitted h4 {}
.submitBtn, .submitBtn:hover, .submitBtn:focus {
	position: relative;
	top: 6px;
	text-transform: uppercase;
	background: #e31717;
	padding: 10px 65px;
	color: white;
	max-width: 200px;
	margin: 0px auto;
	margin-top: 20px;
}

@media all and (max-width: 768px) {

	/*Table*/
	#filters {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    padding: 0;
    align-items: center;
    flex-direction: column;
}	
	#filters a {
		margin-bottom: 20px;
	}
	.nationals {
		width: 100%;
		justify-content: center;
	}
	.nationals ,.actions {
	display: flex;
	flex-wrap: wrap;
	flex: 0;
	}
	#posts {
		width: 100%;
}

	#submitted h3, #submitted h4, #submitted p {
		text-align: center;
}